In [1]:
import numpy as np
import pandas as pd

In [2]:
cd=pd.read_csv('predcars1.csv')

In [3]:
cd["transmission"].value_counts()

man     252619
auto     83531
Name: transmission, dtype: int64

In [4]:
cd = cd[cd['seat_count'] != 'None']
cd = cd[cd['door_count'] != 'None']

In [5]:
cd["seat_count"].value_counts()

5     217298
4      33915
7      12720
2       9167
3       1936
6       1461
9       1111
8        722
1         55
10         6
12         4
14         3
17         3
15         1
74         1
20         1
11         1
56         1
18         1
13         1
50         1
54         1
Name: seat_count, dtype: int64

In [6]:
cd["maker"].isnull().sum()

0

In [7]:
## 36 makers

cd["maker"].value_counts()

opel             39254
audi             38488
ford             33146
skoda            30200
fiat             12301
seat             12002
toyota           11649
citroen          10365
bmw               9959
nissan            9552
hyundai           9165
mazda             7288
volvo             6591
kia               6165
mini              5576
smart             4889
mitsubishi        4396
porsche           4166
honda             4039
suzuki            3937
mercedes-benz     3711
jeep              2415
chevrolet         2121
subaru            1292
jaguar            1261
lancia            1193
chrysler          1082
dodge              710
lexus              544
maserati           285
rover              217
bentley            172
hummer              77
lamborghini         74
isuzu               73
lotus               54
tesla                1
Name: maker, dtype: int64

In [8]:
cd.head()

,Unnamed: 0,maker,model,mileage,engine_power,transmission,door_count,seat_count,fuel_type,price_eur,price_inr
0,0,ford,galaxy,151000.0,103.0,man,5,7,diesel,10584.75,833019.825
1,1,skoda,octavia,143476.0,81.0,man,5,5,diesel,8882.31,699037.797
2,3,skoda,fabia,111970.0,47.0,man,5,5,gasoline,2960.77,233012.599
3,4,skoda,fabia,128886.0,47.0,man,5,5,gasoline,2738.71,215536.477
4,5,skoda,fabia,140932.0,40.0,man,5,5,gasoline,1628.42,128156.654

In [9]:
cd['maker'].value_counts()

opel             39254
audi             38488
ford             33146
skoda            30200
fiat             12301
seat             12002
toyota           11649
citroen          10365
bmw               9959
nissan            9552
hyundai           9165
mazda             7288
volvo             6591
kia               6165
mini              5576
smart             4889
mitsubishi        4396
porsche           4166
honda             4039
suzuki            3937
mercedes-benz     3711
jeep              2415
chevrolet         2121
subaru            1292
jaguar            1261
lancia            1193
chrysler          1082
dodge              710
lexus              544
maserati           285
rover              217
bentley            172
hummer              77
lamborghini         74
isuzu               73
lotus               54
tesla                1
Name: maker, dtype: int64

In [10]:
cd= cd.drop(['mileage','price_eur'], axis =1)

In [11]:
cd['fuel_type'].value_counts()

gasoline    162226
diesel      116184
Name: fuel_type, dtype: int64

In [12]:
cd

,Unnamed: 0,maker,model,engine_power,transmission,door_count,seat_count,fuel_type,price_inr
0,0,ford,galaxy,103.0,man,5,7,diesel,833019.825
1,1,skoda,octavia,81.0,man,5,5,diesel,699037.797
2,3,skoda,fabia,47.0,man,5,5,gasoline,233012.599
3,4,skoda,fabia,47.0,man,5,5,gasoline,215536.477
4,5,skoda,fabia,40.0,man,5,5,gasoline,128156.654
...,...,...,...,...,...,...,...,...,...
336140,1048500,opel,astra,92.0,man,4,5,diesel,633605.043
336141,1048503,opel,insignia,239.0,auto,4,5,gasoline,2181332.622
336142,1048511,citroen,c4,80.0,man,2,5,gasoline,306175.267
336147,1048568,skoda,octavia,59.0,man,5,5,gasoline,579618.417
336148,1048571,subaru,legacy,121.0,auto,5,5,gasoline,404859.558

In [13]:
x=cd.iloc[:,[1,3,4,5,6,7]].values
y=cd.iloc[:, 8].values

x

array([['ford', 103.0, 'man', '5', '7', 'diesel'],
       ['skoda', 81.0, 'man', '5', '5', 'diesel'],
       ['skoda', 47.0, 'man', '5', '5', 'gasoline'],
       ...,
       ['citroen', 80.0, 'man', '2', '5', 'gasoline'],
       ['skoda', 59.0, 'man', '5', '5', 'gasoline'],
       ['subaru', 121.0, 'auto', '5', '5', 'gasoline']], dtype=object)

In [14]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
x[:,0]=lb.fit_transform(x[:,0])
lb1 = LabelEncoder()
x[:,2]=lb1.fit_transform(x[:,2])
lb2 = LabelEncoder()
x[:,5]=lb2.fit_transform(x[:,5])

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [16]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [17]:
regr = linear_model.LinearRegression()

In [18]:
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
new_data=['audi',96,'man',3,2,'gasoline']
new_data[0]=lb.transform([new_data[0]])[0]
new_data[2]=lb1.transform([new_data[2]])[0]
new_data[5]=lb2.transform([new_data[5]])[0]
y_pred = regr.predict(x_test)
regr.predict([new_data])

array([1128805.08624594])

In [20]:
print('Coefficients: \n', regr.coef_)
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
print('Variance score: %.2f' % r2_score(y_test, y_pred))

Coefficients:
 [   2884.01163562   15389.66027147 -165660.04099265  -53130.97154366
  -74144.61492828 -148274.14890124]
Mean squared error: 829902545698.26
Variance score: 0.44

In [23]:
import pickle
pickle.dump(regr,open('linearmodel.pkl', 'wb'))
pickle.dump(lb,open('lb','wb'))
pickle.dump(lb1,open('lb1','wb'))
pickle.dump(lb1,open('lb2','wb'))

In [24]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [25]:
regressor.predict([new_data])

array([1621976.67459522])

In [26]:
import pickle
pickle.dump(regressor,open('regressor.pkl','wb'))
# pickle.dump(lb,open('lb','wb'))
# pickle.dump(lb1,open('lb1','wb'))